<div class='containerLogin'>
    <div class='box'>
        <span class='borderline'></span>
        <div class="formContainer">
            <h2>Iniciar Sesion</h2>
            <div class='inputBox'>
                <input type='text' required name='user' id="user" />
                <span>Usuario</span>
                <i></i>
            </div>
            <div class='inputBox'>
                <input type='password' required name='password' id="pass" />
                <span>Contraseña</span>
                <i></i>
            </div>
            <button onclick="handlerLogin()">Iniciar</button>
        </div>
    </div>
</div>